[submodule "tools/ffmpeg/ffmpeg-yp3-patch"]
	path = tools/ffmpeg/ffmpeg-yp3-patch
	url = https://github.com/tytydraco/ffmpeg-yp3-patch
[submodule "tools/ffmpeg/atj-avi-encoder"]
	path = tools/ffmpeg/atj-avi-encoder
	url = https://github.com/tytydraco/atj-avi-encoder.git
